.counterCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 20%;
    padding: 3%;
    margin-top: 1%;
    border-radius: 3%;
    background-color: white;
}
.grupButtonCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 15%;
    margin: 2%;
}
.buttonCard{
    border: 1px solid #7CA32F;
    border-radius: 10%;
    color: #7CA32F;
    background-color: white;
}

